@model InventorySystemApplication.Models.Product

@{
    ViewData["Title"] = "Product Details";
}

<h1>Product Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturing_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturing_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Expiry_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Expiry_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category_Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-danger">Edit</a> |
    <a asp-action="Index" class="btn btn-warning">Back to List</a>
</div>
