@model IEnumerable<InventorySystemApplication.VMs.ProductVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Product</a>
</p>
<table class="table">
    <a href="c:\users\thomas\source\repos\inventorysystemapplication\inventorysystemapplication\views\product\index.cshtml">c:\users\thomas\source\repos\inventorysystemapplication\inventorysystemapplication\views\product\index.cshtml</a>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Manufacturing Date
            </th>
            <th>
                Expiry Date
            </th>
            <th>
                Category
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var obj in Model) {
        <tr>
            <td>
                @obj.Product_Name
            </td>
            <td>
                @obj.Manufacturing_Date
            </td>
            <td>
                @obj.Expiry_Date
            </td>
            <td>
                @obj.Categories.Category_Name
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@obj.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@obj.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@obj.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a class="btn btn-danger" asp-area="" asp-controller="Home" asp-action="AdminMenu">Back To Menu</a>
</div>
