@model IEnumerable<InventorySystemApplication.VMs.StockLevelVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Quantity In Stock
            </th>
            <th>
                Product
            </th>
            <th>
                Warehouse
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var obj in Model) {
        <tr>
            <td>
                @obj.Quantity_In_Stock
            </td>
            <td>
                @obj.Products.Product_Name
            </td>
            <td>
                @obj.Warehouses.Name
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@obj.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@obj.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@obj.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a class="btn btn-danger" asp-area="" asp-controller="Home" asp-action="AdminMenu">Back To Menu</a>
</div>
