@model IEnumerable<InventorySystemApplication.Models.Warehouse>

@{
    ViewData["Title"] = "Warehouses";
}

<h1>Warehouses</h1>

<p>
    <a asp-action="Create" class="btn btn-info">Create New Warehouse</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var obj in Model) {
        <tr>
            <td>
                @obj.Name
            </td>
            <td>
                @obj.Address
            </td>
            <td>
                @obj.Phone_Number
            </td>
            <td>
                @obj.Email_Address
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@obj.Id">Edit</a>
            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@obj.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a class="btn btn-danger" asp-area="" asp-controller="Home" asp-action="AdminMenu">Back To Menu</a>
</div>