@model InventorySystemApplication.Models.StockIn

@{
    ViewData["Title"] = "Create";
    var prod = ViewBag.Products as List<Product>;
    var use = ViewBag.Users as List<User>;
    var war = ViewBag.Warehouses as List<Warehouse>;
;}

<h1>Create</h1>

<h4>StockIn</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product_Id" class="control-label"></label>
                <select asp-for="Product_Id" Class="form-control">
                <option value="">Select a Product</option>
                @if(prod != null){
                    @foreach(var product in prod){
                        <option value="@product.Id">@product.Product_Name</option>
                    }
                }
                </select>
                <span asp-validation-for="Product_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity_In" class="control-label"></label>
                <input asp-for="Quantity_In" class="form-control" />
                <span asp-validation-for="Quantity_In" class="text-danger"></span>
            </div>
            <!-- <div class="form-group">
                <label asp-for="Warehouse_Id" class="control-label"></label>
                <select asp-for="Warehouse_Id" class="form-control">
                <option value="">Select a warehouse</option>
                @if(war != null){
                    @foreach(var warehouse in war){
                        <option value="@warehouse.Id">@warehouse.Name</option>
                    }
                }
                </select>
                <span asp-validation-for="Warehouse_Id" class="text-danger"></span>
            </div> -->
            <div class="form-group">
                <label asp-for="Date_In" class="control-label"></label>
                <input asp-for="Date_In" class="form-control" />
                <span asp-validation-for="Date_In" class="text-danger"></span>
            </div>
            <!-- <div class="form-group">
                <label asp-for="User_Id" class="control-label"></label>
                <select asp-for="User_Id" class="form-control">
                <option value="">Select a User</option>
                @if(use != null){
                    @foreach(var user in use){
                        <option value="@user.Id">@user.User_Name</option>
                    }
                }
                </select>
                <span asp-validation-for="User_Id" class="text-danger"></span>
            </div> -->
            <div class="form-group">
                <label asp-for="Document_Number" class="control-label"></label>
                <input asp-for="Document_Number" class="form-control" />
                <span asp-validation-for="Document_Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
