@model InventorySystemApplication.Models.StockTransfer

@{
    ViewData["Title"] = "Stock Transfer Details";
}

<h1>Stock Transfer Details</h1>

<div>
    <h4>Stock Transfer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouse_FromId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Warehouse_FromId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouse_ToId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Warehouse_ToId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transfer_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transfer_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Document_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Document_Number)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-danger">Edit</a> |
    <a asp-action="Index" class="btn btn-warning">Back to List</a>
</div>
